@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

html {
  scroll-behavior: smooth;
}

/* Кастомный скроллбар */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-surface;
}

::-webkit-scrollbar-thumb {
  @apply bg-decor rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}